# An√°lise de Dados üïµüèΩ üé≤ em Alto Desempenho üöÄ üßû‚Äç‚ôÇÔ∏è

## Sum√°rio da Aula

<ul>
    <li>Pandas üêº</li>
    <ul>
        <li>Recapitulando Aspectos do Pandas üêº</li>
        <li>DataFrame üìΩÔ∏è</li>
        <li>Descri√ß√£o dos Dados ‚úçÔ∏è üé≤</li>
    </ul>
    <li>Juntando as Pe√ßas üß©</li>
    <ul>
        <li>(Fontes de Dados üö∞ ‚ûï Manipula√ß√£o ü™° ‚ûï An√°lise de Dados üïµüèΩ) <sup>Alto Desempenho üöÄ üßû‚Äç‚ôÇÔ∏è</li>
    </ul>
</ul>

## Pandas üêº

### Biblioteca Principal üìö: pandas

<img src="https://pandas.pydata.org/docs/_static/pandas.svg" width="100" style="float: right;">

In [1]:
!pip install --upgrade pandas --quiet

In [2]:
import pandas as pd

### Recapitulando Aspectos do Pandas üêº

<ul>
    <li>An√°lise de Dados üïµüèΩ üé≤ em Alto Desempenho üöÄ üßû‚Äç‚ôÇÔ∏è</li>
    <li>Frequentemente utilizado com bibliotecas:
        <ul>
            <li>de computa√ß√£o num√©rica, e.g. NumPy, SciPy;</li>
            <li>anal√≠ticas, e.g. como statsmodels e scikit-learn</li>
            <li>de visualiza√ß√£o de dados, e.g. matplotlib e seaborn.</li>
        </ul>
    </li>
    <li>Adota o estilo idiom√°tico de Computa√ß√£o Vetorizada üßÆ do NumPy, especialmente:
        <ul>
            <li>fun√ß√£o baseada em vetores (<i>arrays</i>)</li>
            <li>prefer√™ncia por processamento de dados sem la√ßos <i>for</i></li>
        </ul>
    </li>
    <li>No entanto, h√° uma diferen√ßa significativa:
        <ul>
            <li>Pandas √© desenhado para trabalhar com dados tabulares e heterog√™neos; e</li>
            <li>NumPy √© desenhado para trabalhar com dados num√©ricos homog√™neos.</li>
        </ul>
    </li>
    <li>√â maduro, aplic√°vel em um vasto cen√°rio de casos de usos reais e tem uma comunidade com mais de 2500 colaboradores</li>
</ul>

üëâ Refer√™ncia: <a href='https://pandas.pydata.org/'>pandas.pydata.org</a>

üëâ Pandas <a href='https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf'>cheat sheet</a>

### DataFrame üìΩÔ∏è

<ul>
    <li>Objeto de <b>duas</b> dimens√µes equivalente ao <b>2D ndarray</b> do NumPy</li>
    <ul>
        <li>cont√©m uma cole√ß√£o de colunas ordenadas; onde</li>
        <ul>
            <li> cada coluna pode conter diferentes tipos de dados (num√©rico, string, booleano, entre outros)</li>
        </ul>
        <li>dois vetores (<i>arrays</i>) de r√≥tulos chamados de √≠ndice de linha e √≠ndice de coluna</li>
    </ul>
</ul>

<img src="https://www.w3resource.com/w3r_images/pandas-series-image.svg" style="margin-left: auto; margin-right: auto;">

üëâ Refer√™ncia: <a href='https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html'>pandas.DataFrame</a>

<pre>Voc√™ pode criar um DataFrame a partir de um dicion√°rio de listas...</pre>

In [3]:
data = {"state": ["Ohio", "Ohio", "Ohio", 
                  "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

<pre>... ou a partir de um dicion√°rio de dicion√°rios</pre>

üëâ dica: as chaves externas ser√£o os nomes das colunas e as chaves internas ser√£o os nomes das linhas

In [4]:
pd.DataFrame({"Ohio": {2000: 1.5, 2001: 1.7, 2002: 3.6},
              "Nevada": {2001: 2.4, 2002: 2.9}})

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4
2002   3.6     2.9

<pre>Voc√™ pode mostrar apenas as primeiras linhas (ou as √∫ltimas linhas) de um DataFrame</pre>

In [5]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [6]:
frame.tail()

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

<pre>Voc√™ pode ordenar as colunas de um DataFrame ao especificar a ordem/sequ√™ncia desejada</pre>

In [7]:
frame = pd.DataFrame(data, columns=["year", "state", "pop"])
frame

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

<pre>Voc√™ pode recuperar uma coluna do DataFrame como uma Serie</pre>

üëâ dica: habitue-se a usar a nota√ß√£o entre colchetes <b>[ ]</b> porque a nota√ß√£o com ponto <b>.</b> n√£o funciona para colunas com espa√ßo

In [8]:
frame['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [9]:
frame.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

<pre>Voc√™ pode recuperar uma linha do DataFrame como uma Serie</pre>

In [10]:
frame.loc[0]

year     2000
state    Ohio
pop       1.5
Name: 0, dtype: object

In [11]:
frame.iloc[0]

year     2000
state    Ohio
pop       1.5
Name: 0, dtype: object

<pre>Voc√™ pode inserir ou modificar uma coluna do DataFrame utilizando a opera√ß√£o de atribui√ß√£o</pre>

üëâ dica: ao atribuir valores a uma coluna que n√£o existe, ela ser√° automaticamente criada com os valores designados

In [12]:
frame['debt'] = 16.5
frame

   year   state  pop  debt
0  2000    Ohio  1.5  16.5
1  2001    Ohio  1.7  16.5
2  2002    Ohio  3.6  16.5
3  2001  Nevada  2.4  16.5
4  2002  Nevada  2.9  16.5
5  2003  Nevada  3.2  16.5

In [13]:
frame["debt"] = range(6)
frame

   year   state  pop  debt
0  2000    Ohio  1.5     0
1  2001    Ohio  1.7     1
2  2002    Ohio  3.6     2
3  2001  Nevada  2.4     3
4  2002  Nevada  2.9     4
5  2003  Nevada  3.2     5

<pre>Voc√™ pode excluir colunas da mesma forma que em um dicion√°rio</pre>

In [14]:
keep_debt_safe = frame['debt']

In [15]:
del frame['debt']
frame

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [16]:
frame['debt'] = keep_debt_safe

<pre>Voc√™ pode transpor um DataFrame (trocar linhas por colunas e vice-versa)</pre>

üëâ dica: ao transpor, voc√™ pode perder a informa√ß√£o do tipo de dados da coluna; portanto, cuidado.

In [17]:
frame.T

          0     1     2       3       4       5
year   2000  2001  2002    2001    2002    2003
state  Ohio  Ohio  Ohio  Nevada  Nevada  Nevada
pop     1.5   1.7   3.6     2.4     2.9     3.2
debt      0     1     2       3       4       5

<pre>Voc√™ pode acessar os valores do DataFrame por meio do atribute <i>values</i></pre>

üëâ dica: curiosamente (ou n√£o) os valores vem em um objeto <b>2D ndarray</b> do NumPy

In [18]:
frame.values

array([[2000, 'Ohio', 1.5, 0],
       [2001, 'Ohio', 1.7, 1],
       [2002, 'Ohio', 3.6, 2],
       [2001, 'Nevada', 2.4, 3],
       [2002, 'Nevada', 2.9, 4],
       [2003, 'Nevada', 3.2, 5]], dtype=object)

In [19]:
type(frame.values)

numpy.ndarray

<pre>Voc√™ pode remover uma linha ou uma coluna do DataFrame </pre>

In [20]:
frame = frame.drop(index=[0, 5])
frame

   year   state  pop  debt
1  2001    Ohio  1.7     1
2  2002    Ohio  3.6     2
3  2001  Nevada  2.4     3
4  2002  Nevada  2.9     4

In [21]:
frame = frame.drop(columns=['debt'])
frame

   year   state  pop
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

<pre>Voc√™ pode atribuir nomes aos √≠ndices e √†s colunas</pre>

In [22]:
frame = frame.rename(columns={'year': 'ano', 'state': 'estado'}, 
                     index={0: 'zero', 1: 'um', 2: 'dois', 
                            3: 'tr√™s', 4: 'quatro'})
frame

         ano  estado  pop
um      2001    Ohio  1.7
dois    2002    Ohio  3.6
tr√™s    2001  Nevada  2.4
quatro  2002  Nevada  2.9

### Descri√ß√£o dos Dados ‚úçÔ∏è üé≤

<ul>
    <li>Objetos pandas v√™m com um conjunto de m√©todos matem√°ticos e estat√≠sticos comuns</li>
    <li>Os m√©todos do pandas podem tratar nativamente dados <i>NA</i><br />(diferentemente dos mesmos m√©todos encontrados em NumPy)</li>
</ul>

In [23]:
from numpy import nan
df = pd.DataFrame([[1.4, nan], [7.1, -4.5], 
                   [nan, nan], [0.75, -1.3]], \
                  index=["a", "b", "c", "d"], \
                  columns=["one", "two"])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

<pre>Voc√™ pode obter a soma dos valores das colunas...</pre>

<ul>
    <li>quando a coluna inteira cont√©m apenas valores <i>NA</i>, a soma √© <b>zero</b>; </li>
    <li>nos demais casos, o(s) valor(es) <i>NA</i> √©(s√£o) descartado(s) para fins de soma.</li>
</ul>

üëâ dica: com o par√¢metro <i>skipna=False</i>, na presen√ßa de ao menos um valor ausente/indispon√≠vel, o resultado da soma √© ausente/indispon√≠vel.

In [24]:
df.sum(axis='index')

one    9.25
two   -5.80
dtype: float64

In [25]:
df.sum(axis='index', skipna=False)

one   NaN
two   NaN
dtype: float64

<pre>... bem como obter a soma dos valores das linhas</pre>

<ul>
    <li>quando a linha inteira cont√©m apenas valores <i>NA</i>, a soma √© <b>zero</b>; </li>
    <li>nos demais casos, o(s) valor(es) <i>NA</i> √©(s√£o) descartado(s) para fins de soma.</li>
</ul>

üëâ dica: com o par√¢metro <i>skipna=False</i>, na presen√ßa de ao menos um valor ausente/indispon√≠vel, o resultado da soma √© ausente/indispon√≠vel.

In [26]:
df.sum(axis="columns")

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [27]:
df.sum(axis="columns", skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

<pre>Voc√™ pode obter a m√©dia aritm√©tica dos valores das colunas (e linhas)</pre>

<ul>
    <li>quando a coluna (ou linha) inteira cont√©m apenas valores <i>NA</i>, a m√©dia √© <b>ausente/indispon√≠vel</b>; </li>
    <li>nos demais casos, o(s) valor(es) <i>NA</i> √©(s√£o) descartado(s) para fins de m√©dia.</li>
</ul>

üëâ dica: lembre-se que os m√©todos do pandas podem tratar nativamente dados <i>NA</i> com o <i>skipna</i>

In [28]:
df.mean(axis="index")

one    3.083333
two   -2.900000
dtype: float64

In [29]:
df.mean(axis="columns")

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

<pre>Voc√™ pode usar m√©todos de estat√≠stica indireta, e.g. obter o √≠ndice com menor (resp. maior) valor</pre>

In [30]:
df.idxmin(axis='index')

one    d
two    b
dtype: object

In [31]:
df.idxmax(axis='index')

one    b
two    d
dtype: object

<pre>Voc√™ pode calcular valores acumulados</pre>

In [32]:
df.cumsum(axis='index')

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

<pre>Voc√™ pode produzir um resumo estat√≠stico dos seus dados</pre>

üëâ dica: aqui n√£o temos o par√¢metro <i>axis</i>, ent√£o use a transposta para produzir o resumo estat√≠stico das linhas

In [33]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [34]:
df.T.describe()

         a         b    c         d
count  1.0  2.000000  0.0  2.000000
mean   1.4  1.300000  NaN -0.275000
std    NaN  8.202439  NaN  1.449569
min    1.4 -4.500000  NaN -1.300000
25%    1.4 -1.600000  NaN -0.787500
50%    1.4  1.300000  NaN -0.275000
75%    1.4  4.200000  NaN  0.237500
max    1.4  7.100000  NaN  0.750000

<pre>üçí üéÇ Voc√™ pode produzir um resumo estat√≠stico dos seus dados (mesmo quando n√£o s√£o num√©ricos!)</pre>

In [35]:
df = pd.Series(["a", "a", "b", "c"] * 4)
df

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [36]:
df.describe()

count     16
unique     3
top        a
freq       8
dtype: object

#### Quadro-resumo dos m√©todos de descri√ß√£o dos dados

<table>
    <tr><th>M√©todo</th><th>Descri√ß√£o</th></tr>
    <tr><td>count</td><td>N√∫mero de valores presentes e dispon√≠veis</td></tr>
    <tr><td>describe</td><td>Resumo estat√≠stico dos dados</td></tr>
    <tr><td>min, max</td><td>Calcula os valores m√≠nimo e m√°ximo</td></tr>
    <tr><td>argmin, argmax</td><td>Computa localiza√ß√µes de √≠ndice (inteiros) em que o valor m√≠nimo ou m√°ximo √© obtido, respectivamente</td></tr>
    <tr><td>not</td><td>dispon√≠vel em objetos DataFrame</td></tr>
    <tr><td>idxmin, idxmax</td><td>Computa r√≥tulos de √≠ndice nos quais o valor m√≠nimo ou m√°ximo √© obtido, respectivamente</td></tr>
    <tr><td>quantile</td><td>Calcula o quantil da amostra variando de 0 a 1 (padr√£o: 0,5)</td></tr>
    <tr><td>sum</td><td>Soma dos valores</td></tr>
    <tr><td>mean</td><td>M√©dia aritm√©tica dos valores</td></tr>
    <tr><td>median</td><td>Mediana aritm√©tica (quantil de 50%) dos valores</td></tr>
    <tr><td>mad</td><td>Desvio absoluto m√©dio do valor m√©dio</td></tr>
    <tr><td>prod</td><td>Produto de todos os valores</td></tr>
    <tr><td>var</td><td>Vari√¢ncia dos valores</td></tr>
    <tr><td>std</td><td>Desvio padr√£o dos valores</td></tr>
    <tr><td>skew</td><td>Assimetria (terceiro momento) dos valores</td></tr>
    <tr><td>kurt</td><td>Curtose (quarto momento) dos valores</td></tr>
    <tr><td>cumsum</td><td>Soma cumulativa de valores</td></tr>
    <tr><td>cummin, cummax</td><td>M√≠nimo e m√°ximo cumulativo de valores, respectivamente</td></tr>
    <tr><td>cumprod</td><td>Produto cumulativo de valores</td></tr>
    <tr><td>diff</td><td>Calcula a primeira diferen√ßa aritm√©tica (√∫til para s√©ries temporais)</td></tr>
    <tr><td>pct_change</td><td>Calcula as altera√ß√µes percentuais</td></tr>
</table>

## Juntando as Pe√ßas üß©

### (Fontes de Dados üö∞ ‚ûï Manipula√ß√£o ü™° ‚ûï An√°lise de Dados üïµüèΩ) <sup>Alto Desempenho üöÄ üßû‚Äç‚ôÇÔ∏è</sup>

#### Fun√ß√µes Auxiliares

In [37]:
import os, json, sqlite3, pandas as pd

In [38]:
def build_path(subfolder = 'raw'):
    folderpath = os.path.join(os.getcwd(), os.pardir, 
                              'project', 'data', subfolder)
    folderpath = os.path.abspath(folderpath)
    if not os.path.exists(folderpath):
        os.makedirs(folderpath)
    return folderpath

#### csv

In [39]:
def get_estados_georreferenciamento(
        filename='estados_georreferenciamento.csv'):
    filepath = os.path.join(build_path(), filename)
    
    return pd.read_csv(filepath)

In [40]:
def get_municipios_georreferenciamento(
        filename='municipios_georreferenciamento.csv'):
    filepath = os.path.join(build_path(), filename)
    
    return pd.read_csv(filepath)

In [41]:
def get_covid_infections_and_deaths(
        filename='ALL_HIST_PAINEL_COVID.csv'):
    filepath = os.path.join(build_path(), filename)
    
    return pd.read_csv(filepath, sep=';', parse_dates = ['data'],\
                       dtype={'codmun': 'Int64', \
                              'codRegiaoSaude': 'Int64', \
                              'populacaoTCU2019': 'Int64', \
                              'casosAcumulado': 'Int64', \
                              'Recuperadosnovos': 'Int64', \
                              'emAcompanhamentoNovos': 'Int64', \
                              'interior/metropolitana': 'Int64'}, \
                       encoding='utf-8')

#### Informa√ß√µes de Georreferenciamento

##### Unidades Federativas

In [42]:
estados_georreferenciamento = get_estados_georreferenciamento()

In [43]:
estados_georreferenciamento.head()

   codigo_uf  uf      nome  latitude  longitude regiao
0         11  RO  Rond√¥nia    -10.83     -63.34  Norte
1         12  AC      Acre     -8.77     -70.55  Norte
2         13  AM  Amazonas     -3.47     -65.10  Norte
3         14  RR   Roraima      1.99     -61.33  Norte
4         15  PA      Par√°     -3.79     -52.48  Norte

In [44]:
estados_georreferenciamento.dtypes

codigo_uf      int64
uf            object
nome          object
latitude     float64
longitude    float64
regiao        object
dtype: object

In [45]:
estados_georreferenciamento.describe()

       codigo_uf   latitude  longitude
count  27.000000  27.000000  27.000000
mean   29.111111 -12.381111 -48.410370
std    13.024631   8.476122   9.291479
min    11.000000 -30.170000 -70.550000
25%    19.000000 -18.645000 -52.990000
50%    27.000000 -10.570000 -48.260000
75%    38.000000  -6.205000 -41.025000
max    53.000000   1.990000 -36.590000

##### Munic√≠pios

In [46]:
municipios_georreferenciamento = get_municipios_georreferenciamento()

In [47]:
municipios_georreferenciamento.head()

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario
0,5200050,Abadia de Goi√°s,-16.75730,-49.4412,0,52,1050,62,America/Sao_Paulo
1,3100104,Abadia dos Dourados,-18.48310,-47.3916,0,31,4001,34,America/Sao_Paulo
2,5200100,Abadi√¢nia,-16.19700,-48.7057,0,52,9201,62,America/Sao_Paulo
3,3100203,Abaet√©,-19.15510,-45.4444,0,31,4003,37,America/Sao_Paulo
4,1500107,Abaetetuba,-1.72183,-48.8788,0,15,401,91,America/Sao_Paulo

In [48]:
municipios_georreferenciamento.dtypes

codigo_ibge       int64
nome             object
latitude        float64
longitude       float64
capital           int64
codigo_uf         int64
siafi_id          int64
ddd               int64
fuso_horario     object
dtype: object

In [49]:
municipios_georreferenciamento.describe()

,codigo_ibge,latitude,longitude,capital,codigo_uf,siafi_id,ddd
count,5.570000e+03,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000,5570.000000
mean,3.253591e+06,-16.449101,-46.231012,0.004847,32.377738,4519.878276,57.099461
std,9.849103e+05,8.287274,6.408578,0.069461,9.833862,3050.156056,25.422750
min,1.100015e+06,-33.686600,-72.899700,0.000000,11.000000,1.000000,11.000000
25%,2.512126e+06,-22.843875,-50.878525,0.000000,25.000000,1595.500000,35.000000
50%,3.146280e+06,-18.094300,-46.523200,0.000000,31.000000,4382.000000,55.000000
75%,4.119190e+06,-8.496445,-41.410775,0.000000,41.000000,7180.500000,82.000000
max,5.300108e+06,4.603140,-32.410700,1.000000,53.000000,9997.000000,99.000000

#### Informa√ß√µes de Casos e √ìbitos por Covid-19 no Brasil

In [50]:
covid_infections_and_deaths = get_covid_infections_and_deaths()

In [51]:
covid_infections_and_deaths.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,<NA>,<NA>,NaN,2023-07-01,26,210147125,37682660,11240,704159,195,36943287,35214,<NA>
1,Brasil,NaN,NaN,76,<NA>,<NA>,NaN,2023-07-02,27,210147125,37682660,0,704159,0,36939608,38893,<NA>
2,Brasil,NaN,NaN,76,<NA>,<NA>,NaN,2023-07-03,27,210147125,37682660,0,704159,0,36935925,42576,<NA>
3,Brasil,NaN,NaN,76,<NA>,<NA>,NaN,2023-07-04,27,210147125,37682660,0,704159,0,36935925,42576,<NA>
4,Brasil,NaN,NaN,76,<NA>,<NA>,NaN,2023-07-05,27,210147125,37682660,0,704159,0,36941392,37109,<NA>

In [52]:
covid_infections_and_deaths.dtypes

regiao                            object
estado                            object
municipio                         object
coduf                              int64
codmun                             Int64
codRegiaoSaude                     Int64
nomeRegiaoSaude                   object
data                      datetime64[ns]
semanaEpi                          int64
populacaoTCU2019                   Int64
casosAcumulado                     Int64
casosNovos                         int64
obitosAcumulado                    int64
obitosNovos                        int64
Recuperadosnovos                   Int64
emAcompanhamentoNovos              Int64
interior/metropolitana             Int64
dtype: object

In [53]:
covid_infections_and_deaths.describe()

,coduf,codmun,codRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
count,7.193188e+06,7156480.0,7129600.0,7193188,7.193188e+06,7166308.0,7193188.0,7.193188e+06,7.193188e+06,7.193188e+06,1310.0,1310.0,7129600.0
mean,3.236019e+01,325258.01413,32403.123698,2021-12-26 10:06:05.846130944,2.659265e+01,114423.505346,11999.598133,1.576365e+01,2.627686e+02,2.943514e-01,20928346.324427,517280.235878,0.0693
min,1.100000e+01,110000.0,11001.0,2020-02-25 00:00:00,1.000000e+00,781.0,0.0,-3.368370e+05,0.000000e+00,-9.114000e+03,0.0,-6206.0,0.0
25%,2.500000e+01,251200.0,25010.0,2021-02-09 00:00:00,1.500000e+01,5474.0,281.0,0.000000e+00,5.000000e+00,0.000000e+00,7368230.25,127228.25,0.0
50%,3.100000e+01,314610.0,31059.0,2021-12-26 00:00:00,2.700000e+01,11695.0,875.0,0.000000e+00,1.400000e+01,0.000000e+00,21413060.5,399018.0,0.0
75%,4.100000e+01,411915.0,41015.0,2022-11-11 00:00:00,3.800000e+01,25765.0,2423.0,1.000000e+00,4.200000e+01,0.000000e+00,34067346.25,743322.25,0.0
max,7.600000e+01,530010.0,53001.0,2023-09-27 00:00:00,5.300000e+01,210147125.0,37796956.0,3.369590e+05,7.057750e+05,9.115000e+03,37091152.0,11232608.0,1.0
std,9.874141e+00,98535.031084,9836.341996,NaN,1.428004e+01,2970244.401195,361036.997732,7.254447e+02,7.732456e+03,1.677708e+01,13293052.750054,585175.189635,0.253963

#### json

In [54]:
#fail
def get_estados_codigos(filename='estados_codigos.json'):
    filepath = os.path.join(build_path(), filename)
    
    return pd.read_json(filepath)

#solution
def get_estados_codigos(filename='estados_codigos.json'):
    filepath = os.path.join(build_path(), filename)
    
    with open(filepath) as jsonfile:
        return pd.json_normalize(json.load(jsonfile))

In [55]:
#fail
def get_estados_caracteristicas(filename='estados_caracteristicas.json'):
    filepath = os.path.join(build_path(), filename)

    return pd.read_json(filepath)

#solution
def get_estados_caracteristicas(filename='estados_caracteristicas.json'):
    filepath = os.path.join(build_path(), filename)

    with open(filepath) as jsonfile:
        return pd.json_normalize(json.load(jsonfile), \
                                 record_path='characteristics', \
                                 record_prefix='characteristics_', \
                                 meta='state',\
                                 meta_prefix='state_')

In [56]:
#big fail
def get_estados_vacinacao(filename='estados_vacinacao.json'):
    filepath = os.path.join(build_path(), filename)

    return pd.read_json(filepath)

#solution
def get_estados_vacinacao(filename='estados_vacinacao.json'):
    filepath = os.path.join(build_path(), filename)

    with open(filepath) as jsonfile:
        df = pd.json_normalize(json.load(jsonfile)['Paciente_Estado']['buckets'], \
                               record_path=['Data_Aplicacao_Vacina', ['buckets']], \
                               meta=['key', 'doc_count'], \
                               record_prefix='vacinacao_', \
                               meta_prefix='estado_').convert_dtypes()
        df['vacinacao_key'] = pd.to_datetime(df['vacinacao_key'], unit='ms')
        return df

In [57]:
#big fail
def get_municipios_vacinacao(filename='municipios_vacinacao.json'):
    filepath = os.path.join(build_path(), filename)

    return pd.read_json(filepath)

#solution
def get_municipios_vacinacao(filename='municipios_vacinacao.json'):
    filepath = os.path.join(build_path(), filename)

    with open(filepath) as jsonfile:
        df = pd.json_normalize(json.load(jsonfile)['Paciente_Municipio']['buckets'], \
                               record_path=['Data_Aplicacao_Vacina', ['buckets']], \
                               meta=['key', 'doc_count'], \
                               record_prefix='vacinacao_', \
                               meta_prefix='municipio_',).convert_dtypes()
        df['vacinacao_key'] = pd.to_datetime(df['vacinacao_key'], unit='ms')
        return df

##### Caracter√≠sticas das Unidades da Federa√ß√£o

In [58]:
estados_caracteristicas = get_estados_caracteristicas()

In [59]:
estados_caracteristicas.head()

,characteristics_label,characteristics_value,characteristics_measure,state_state
0,Governador,MARCOS JOS√â ROCHA DOS SANTOS,,ro
1,Capital,Porto Velho,,ro
2,Gent√≠lico,rondoniense ou rondoniano,,ro
3,√Årea Territorial,"237.754,172",km¬≤,ro
4,Popula√ß√£o residente,1.581.016,pessoas,ro

In [60]:
estados_caracteristicas.dtypes

characteristics_label      object
characteristics_value      object
characteristics_measure    object
state_state                object
dtype: object

In [61]:
estados_caracteristicas.describe()

,characteristics_label,characteristics_value,characteristics_measure,state_state
count,324,324,324,324
unique,12,320,8,27
top,Governador,1.010,,ro
freq,27,2,108,12

#### Dados de Vacina√ß√£o

##### Unidades Federativas

In [62]:
estados_vacinacao = get_estados_vacinacao()

In [63]:
estados_vacinacao.head()

,vacinacao_key_as_string,vacinacao_key,vacinacao_doc_count,estado_key,estado_doc_count
0,2023-09-27T00:00:00.000Z,2023-09-27,1804,SP,167868829
1,2023-09-26T00:00:00.000Z,2023-09-26,2081,SP,167868829
2,2023-09-25T00:00:00.000Z,2023-09-25,1968,SP,167868829
3,2023-09-24T00:00:00.000Z,2023-09-24,5,SP,167868829
4,2023-09-23T00:00:00.000Z,2023-09-23,400,SP,167868829

In [64]:
estados_vacinacao.dtypes

vacinacao_key_as_string    string[python]
vacinacao_key              datetime64[ms]
vacinacao_doc_count                 Int64
estado_key                 string[python]
estado_doc_count                    Int64
dtype: object

In [65]:
estados_vacinacao.describe()

                    vacinacao_key  vacinacao_doc_count  estado_doc_count
count                       30386              30386.0           30386.0
mean   2021-04-06 20:43:28.359000         19069.044231     23504207.3938
min           1899-12-30 00:00:00                  1.0         1663183.0
25%           2021-06-01 00:00:00                252.0         7393061.0
50%           2022-03-10 00:00:00               3583.5        11222771.0
75%           2022-12-16 00:00:00              16356.0        29892356.0
max           2023-09-27 00:00:00            1418733.0       167868829.0
std                           NaN         51441.317067   33654814.375997

##### Munic√≠pios

In [66]:
municipios_vacinacao = get_municipios_vacinacao()

In [67]:
municipios_vacinacao.head()

,vacinacao_key_as_string,vacinacao_key,vacinacao_doc_count,municipio_key,municipio_doc_count
0,2023-09-27T00:00:00.000Z,2023-09-27,361,355030,46490089
1,2023-09-26T00:00:00.000Z,2023-09-26,595,355030,46490089
2,2023-09-25T00:00:00.000Z,2023-09-25,615,355030,46490089
3,2023-09-23T00:00:00.000Z,2023-09-23,112,355030,46490089
4,2023-09-22T00:00:00.000Z,2023-09-22,659,355030,46490089

In [68]:
municipios_vacinacao.dtypes

vacinacao_key_as_string    string[python]
vacinacao_key              datetime64[ms]
vacinacao_doc_count                 Int64
municipio_key              string[python]
municipio_doc_count                 Int64
dtype: object

In [69]:
municipios_vacinacao.describe()

                    vacinacao_key  vacinacao_doc_count  municipio_doc_count
count                       61362              61362.0              61362.0
mean   2022-02-13 06:35:00.088000          3527.839722       3821753.401291
min           1900-08-21 00:00:00                  1.0            1154376.0
25%           2021-07-29 00:00:00                 91.0            1382455.0
50%           2022-04-11 00:00:00               1022.5            2017416.0
75%           2022-12-26 00:00:00               3484.0            3392438.0
max           2023-09-27 00:00:00             316422.0           46490089.0
std                           NaN         10389.366483       6626675.520003

#### sqlite

In [70]:
def get_municipios_codigos(filename='municipios_codigos.db'):
    filepath = os.path.join(build_path(), filename)

    conn = sqlite3.connect(filepath)
    municipios_codigos = pd.read_sql_query('select * from ibge', conn, index_col='id')

    return municipios_codigos

#### C√≥digo do IBGE

##### Unidades Federativas

In [71]:
estados_codigos = get_estados_codigos()

In [72]:
estados_codigos.head()

   id sigla      nome  regiao.id regiao.sigla regiao.nome
0  11    RO  Rond√¥nia          1            N       Norte
1  12    AC      Acre          1            N       Norte
2  13    AM  Amazonas          1            N       Norte
3  14    RR   Roraima          1            N       Norte
4  15    PA      Par√°          1            N       Norte

In [73]:
estados_codigos.dtypes

id               int64
sigla           object
nome            object
regiao.id        int64
regiao.sigla    object
regiao.nome     object
dtype: object

In [74]:
estados_codigos.describe()

              id  regiao.id
count  27.000000  27.000000
mean   29.111111   2.555556
std    13.024631   1.395965
min    11.000000   1.000000
25%    19.000000   1.500000
50%    27.000000   2.000000
75%    38.000000   3.500000
max    53.000000   5.000000

##### Munic√≠pios

In [75]:
municipios_codigos = get_municipios_codigos()

In [76]:
municipios_codigos.head()

        state                     city
id
1100015    RO   Alta Floresta D''Oeste
1100379    RO  Alto Alegre dos Parecis
1100403    RO             Alto Para√≠so
1100346    RO        Alvorada D''Oeste
1100023    RO                Ariquemes

In [77]:
municipios_codigos.dtypes

state    object
city     object
dtype: object

In [78]:
municipios_codigos.describe()

       state       city
count   5570       5570
unique    27       5298
top       MG  Bom Jesus
freq     853          5