# An√°lise de Dados üïµüèΩ üé≤ em Alto Desempenho üöÄ üßû‚Äç‚ôÇÔ∏è

## Sum√°rio da Aula

<ul>
    <li>Pandas üêº</li>
    <ul>
        <li>Recapitulando Aspectos do Pandas üêº</li>
        <li>DataFrame üìΩÔ∏è</li>
        <li>Descri√ß√£o dos Dados ‚úçÔ∏è üé≤</li>
    </ul>
</ul>

## Pandas üêº

### Biblioteca Principal üìö: pandas

<img src="https://pandas.pydata.org/docs/_static/pandas.svg" width="100" style="float: right;">

In [1]:
!pip install --upgrade pandas --quiet

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python3.11 -m pip install --upgrade pip

In [2]:
import pandas as pd

### Recapitulando Aspectos do Pandas üêº

<ul>
    <li>An√°lise de Dados üïµüèΩ üé≤ em Alto Desempenho üöÄ üßû‚Äç‚ôÇÔ∏è</li>
    <li>Frequentemente utilizado com bibliotecas:
        <ul>
            <li>de computa√ß√£o num√©rica, e.g. NumPy, SciPy;</li>
            <li>anal√≠ticas, e.g. como statsmodels e scikit-learn</li>
            <li>de visualiza√ß√£o de dados, e.g. matplotlib e seaborn.</li>
        </ul>
    </li>
    <li>Adota o estilo idiom√°tico de Computa√ß√£o Vetorizada üßÆ do NumPy, especialmente:
        <ul>
            <li>fun√ß√£o baseada em vetores (<i>arrays</i>)</li>
            <li>prefer√™ncia por processamento de dados sem la√ßos <i>for</i></li>
        </ul>
    </li>
    <li>No entanto, h√° uma diferen√ßa significativa:
        <ul>
            <li>Pandas √© desenhado para trabalhar com dados tabulares e heterog√™neos; e</li>
            <li>NumPy √© desenhado para trabalhar com dados num√©ricos homog√™neos.</li>
        </ul>
    </li>
    <li>√â maduro, aplic√°vel em um vasto cen√°rio de casos de usos reais e tem uma comunidade com mais de 2500 colaboradores</li>
</ul>

üëâ Refer√™ncia: <a href='https://pandas.pydata.org/'>pandas.pydata.org</a>

üëâ Pandas <a href='https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf'>cheat sheet</a>

### DataFrame üìΩÔ∏è

<ul>
    <li>Objeto de <b>duas</b> dimens√µes equivalente ao <b>2D ndarray</b> do NumPy</li>
    <ul>
        <li>cont√©m uma cole√ß√£o de colunas ordenadas; onde</li>
        <ul>
            <li> cada coluna pode conter diferentes tipos de dados (num√©rico, string, booleano, entre outros)</li>
        </ul>
        <li>dois vetores (<i>arrays</i>) de r√≥tulos chamados de √≠ndice de linha e √≠ndice de coluna</li>
    </ul>
</ul>

<img src="https://www.w3resource.com/w3r_images/pandas-series-image.svg" style="margin-left: auto; margin-right: auto;">

üëâ Refer√™ncia: <a href='https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html'>pandas.DataFrame</a>

<pre>Voc√™ pode criar um DataFrame a partir de um dicion√°rio de listas...</pre>

In [3]:
data = {"state": ["Ohio", "Ohio", "Ohio", 
                  "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

<pre>... ou a partir de um dicion√°rio de dicion√°rios</pre>

üëâ dica: as chaves externas ser√£o os nomes das colunas e as chaves internas ser√£o os nomes das linhas

In [4]:
pd.DataFrame({"Ohio": {2000: 1.5, 2001: 1.7, 2002: 3.6},
              "Nevada": {2001: 2.4, 2002: 2.9}})

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4
2002   3.6     2.9

<pre>Voc√™ pode mostrar apenas as primeiras linhas (ou as √∫ltimas linhas) de um DataFrame</pre>

In [5]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [6]:
frame.tail()

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

<pre>Voc√™ pode ordenar as colunas de um DataFrame ao especificar a ordem/sequ√™ncia desejada</pre>

In [7]:
frame = pd.DataFrame(data, columns=["year", "state", "pop"])
frame

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

<pre>Voc√™ pode recuperar uma coluna do DataFrame como uma Serie</pre>

üëâ dica: habitue-se a usar a nota√ß√£o entre colchetes <b>[ ]</b> porque a nota√ß√£o com ponto <b>.</b> n√£o funciona para colunas com espa√ßo

In [8]:
frame['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [9]:
frame.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

<pre>Voc√™ pode recuperar uma linha do DataFrame como uma Serie</pre>

In [10]:
frame.loc[0]

year     2000
state    Ohio
pop       1.5
Name: 0, dtype: object

In [11]:
frame.iloc[0]

year     2000
state    Ohio
pop       1.5
Name: 0, dtype: object

<pre>Voc√™ pode inserir ou modificar uma coluna do DataFrame utilizando a opera√ß√£o de atribui√ß√£o</pre>

üëâ dica: ao atribuir valores a uma coluna que n√£o existe, ela ser√° automaticamente criada com os valores designados

In [12]:
frame['debt'] = 16.5
frame

   year   state  pop  debt
0  2000    Ohio  1.5  16.5
1  2001    Ohio  1.7  16.5
2  2002    Ohio  3.6  16.5
3  2001  Nevada  2.4  16.5
4  2002  Nevada  2.9  16.5
5  2003  Nevada  3.2  16.5

In [13]:
frame["debt"] = range(6)
frame

   year   state  pop  debt
0  2000    Ohio  1.5     0
1  2001    Ohio  1.7     1
2  2002    Ohio  3.6     2
3  2001  Nevada  2.4     3
4  2002  Nevada  2.9     4
5  2003  Nevada  3.2     5

<pre>Voc√™ pode excluir colunas da mesma forma que em um dicion√°rio</pre>

In [14]:
keep_debt_safe = frame['debt']

In [15]:
del frame['debt']
frame

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [16]:
frame['debt'] = keep_debt_safe

<pre>Voc√™ pode transpor um DataFrame (trocar linhas por colunas e vice-versa)</pre>

üëâ dica: ao transpor, voc√™ pode perder a informa√ß√£o do tipo de dados da coluna; portanto, cuidado.

In [17]:
frame.T

          0     1     2       3       4       5
year   2000  2001  2002    2001    2002    2003
state  Ohio  Ohio  Ohio  Nevada  Nevada  Nevada
pop     1.5   1.7   3.6     2.4     2.9     3.2
debt      0     1     2       3       4       5

<pre>Voc√™ pode acessar os valores do DataFrame por meio do atribute <i>values</i></pre>

üëâ dica: curiosamente (ou n√£o) os valores vem em um objeto <b>2D ndarray</b> do NumPy

In [18]:
frame.values

array([[2000, 'Ohio', 1.5, 0],
       [2001, 'Ohio', 1.7, 1],
       [2002, 'Ohio', 3.6, 2],
       [2001, 'Nevada', 2.4, 3],
       [2002, 'Nevada', 2.9, 4],
       [2003, 'Nevada', 3.2, 5]], dtype=object)

In [19]:
type(frame.values)

numpy.ndarray

<pre>Voc√™ pode remover uma linha ou uma coluna do DataFrame </pre>

In [20]:
frame = frame.drop(index=[0, 5])
frame

   year   state  pop  debt
1  2001    Ohio  1.7     1
2  2002    Ohio  3.6     2
3  2001  Nevada  2.4     3
4  2002  Nevada  2.9     4

In [21]:
frame = frame.drop(columns=['debt'])
frame

   year   state  pop
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

<pre>Voc√™ pode atribuir nomes aos √≠ndices e √†s colunas</pre>

In [22]:
frame = frame.rename(columns={'year': 'ano', 'state': 'estado'}, 
                     index={0: 'zero', 1: 'um', 2: 'dois', 
                            3: 'tr√™s', 4: 'quatro'})
frame

         ano  estado  pop
um      2001    Ohio  1.7
dois    2002    Ohio  3.6
tr√™s    2001  Nevada  2.4
quatro  2002  Nevada  2.9

### Descri√ß√£o dos Dados ‚úçÔ∏è üé≤

<ul>
    <li>Objetos pandas v√™m com um conjunto de m√©todos matem√°ticos e estat√≠sticos comuns</li>
    <li>Os m√©todos do pandas podem tratar nativamente dados <i>NA</i><br />(diferentemente dos mesmos m√©todos encontrados em NumPy)</li>
</ul>

In [23]:
from numpy import nan
df = pd.DataFrame([[1.4, nan], [7.1, -4.5], 
                   [nan, nan], [0.75, -1.3]], \
                  index=["a", "b", "c", "d"], \
                  columns=["one", "two"])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

<pre>Voc√™ pode obter a soma dos valores das colunas...</pre>

<ul>
    <li>quando a coluna inteira cont√©m apenas valores <i>NA</i>, a soma √© <b>zero</b>; </li>
    <li>nos demais casos, o(s) valor(es) <i>NA</i> √©(s√£o) descartado(s) para fins de soma.</li>
</ul>

üëâ dica: com o par√¢metro <i>skipna=False</i>, na presen√ßa de ao menos um valor ausente/indispon√≠vel, o resultado da soma √© ausente/indispon√≠vel.

In [24]:
df.sum(axis='index')

one    9.25
two   -5.80
dtype: float64

In [25]:
df.sum(axis='index', skipna=False)

one   NaN
two   NaN
dtype: float64

<pre>... bem como obter a soma dos valores das linhas</pre>

<ul>
    <li>quando a linha inteira cont√©m apenas valores <i>NA</i>, a soma √© <b>zero</b>; </li>
    <li>nos demais casos, o(s) valor(es) <i>NA</i> √©(s√£o) descartado(s) para fins de soma.</li>
</ul>

üëâ dica: com o par√¢metro <i>skipna=False</i>, na presen√ßa de ao menos um valor ausente/indispon√≠vel, o resultado da soma √© ausente/indispon√≠vel.

In [26]:
df.sum(axis="columns")

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [27]:
df.sum(axis="columns", skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

<pre>Voc√™ pode obter a m√©dia aritm√©tica dos valores das colunas (e linhas)</pre>

<ul>
    <li>quando a coluna (ou linha) inteira cont√©m apenas valores <i>NA</i>, a m√©dia √© <b>ausente/indispon√≠vel</b>; </li>
    <li>nos demais casos, o(s) valor(es) <i>NA</i> √©(s√£o) descartado(s) para fins de m√©dia.</li>
</ul>

üëâ dica: lembre-se que os m√©todos do pandas podem tratar nativamente dados <i>NA</i> com o <i>skipna</i>

In [28]:
df.mean(axis="index")

one    3.083333
two   -2.900000
dtype: float64

In [29]:
df.mean(axis="columns")

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

<pre>Voc√™ pode usar m√©todos de estat√≠stica indireta, e.g. obter o √≠ndice com menor (resp. maior) valor</pre>

In [30]:
df.idxmin(axis='index')

one    d
two    b
dtype: object

In [31]:
df.idxmax(axis='index')

one    b
two    d
dtype: object

<pre>Voc√™ pode calcular valores acumulados</pre>

In [32]:
df.cumsum(axis='index')

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

<pre>Voc√™ pode produzir um resumo estat√≠stico dos seus dados</pre>

üëâ dica: aqui n√£o temos o par√¢metro <i>axis</i>, ent√£o use a transposta para produzir o resumo estat√≠stico das linhas

In [33]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [34]:
df.T.describe()

         a         b    c         d
count  1.0  2.000000  0.0  2.000000
mean   1.4  1.300000  NaN -0.275000
std    NaN  8.202439  NaN  1.449569
min    1.4 -4.500000  NaN -1.300000
25%    1.4 -1.600000  NaN -0.787500
50%    1.4  1.300000  NaN -0.275000
75%    1.4  4.200000  NaN  0.237500
max    1.4  7.100000  NaN  0.750000

<pre>üçí üéÇ Voc√™ pode produzir um resumo estat√≠stico dos seus dados (mesmo quando n√£o s√£o num√©ricos!)</pre>

In [35]:
df = pd.Series(["a", "a", "b", "c"] * 4)
df

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [36]:
df.describe()

count     16
unique     3
top        a
freq       8
dtype: object

#### Quadro-resumo dos m√©todos de descri√ß√£o dos dados

<table>
    <tr><th>M√©todo</th><th>Descri√ß√£o</th></tr>
    <tr><td>count</td><td>N√∫mero de valores presentes e dispon√≠veis</td></tr>
    <tr><td>describe</td><td>Resumo estat√≠stico dos dados</td></tr>
    <tr><td>min, max</td><td>Calcula os valores m√≠nimo e m√°ximo</td></tr>
    <tr><td>argmin, argmax</td><td>Computa localiza√ß√µes de √≠ndice (inteiros) em que o valor m√≠nimo ou m√°ximo √© obtido, respectivamente</td></tr>
    <tr><td>not</td><td>dispon√≠vel em objetos DataFrame</td></tr>
    <tr><td>idxmin, idxmax</td><td>Computa r√≥tulos de √≠ndice nos quais o valor m√≠nimo ou m√°ximo √© obtido, respectivamente</td></tr>
    <tr><td>quantile</td><td>Calcula o quantil da amostra variando de 0 a 1 (padr√£o: 0,5)</td></tr>
    <tr><td>sum</td><td>Soma dos valores</td></tr>
    <tr><td>mean</td><td>M√©dia aritm√©tica dos valores</td></tr>
    <tr><td>median</td><td>Mediana aritm√©tica (quantil de 50%) dos valores</td></tr>
    <tr><td>mad</td><td>Desvio absoluto m√©dio do valor m√©dio</td></tr>
    <tr><td>prod</td><td>Produto de todos os valores</td></tr>
    <tr><td>var</td><td>Vari√¢ncia dos valores</td></tr>
    <tr><td>std</td><td>Desvio padr√£o dos valores</td></tr>
    <tr><td>skew</td><td>Assimetria (terceiro momento) dos valores</td></tr>
    <tr><td>kurt</td><td>Curtose (quarto momento) dos valores</td></tr>
    <tr><td>cumsum</td><td>Soma cumulativa de valores</td></tr>
    <tr><td>cummin, cummax</td><td>M√≠nimo e m√°ximo cumulativo de valores, respectivamente</td></tr>
    <tr><td>cumprod</td><td>Produto cumulativo de valores</td></tr>
    <tr><td>diff</td><td>Calcula a primeira diferen√ßa aritm√©tica (√∫til para s√©ries temporais)</td></tr>
    <tr><td>pct_change</td><td>Calcula as altera√ß√µes percentuais</td></tr>
</table>

<font size=7><center><code>Executem todo este caderno...</code></center></font>

<font size=7><center><code>... bem como o caderno Juntando as Pe√ßas</code></center></font>