In [1]:
import pandas as pd
from random import sample

In [2]:
dados = sample(range(30), 10)
dados

[26, 17, 0, 20, 10, 7, 14, 18, 24, 22]

In [3]:
data = pd.Series(dados,
                 index=[["a", "a", "a", "b", "b", "c", "c", "d", "d", "a"],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3, 4]])

In [4]:
data2 = data.unstack()

In [5]:
data2.stack()

a  1    26.0
   2    17.0
   3     0.0
   4    22.0
b  1    20.0
   3    10.0
c  1     7.0
   2    14.0
d  2    18.0
   3    24.0
dtype: float64

In [6]:
frame = pd.DataFrame([[0, 1, 2],[3, 4, 5],[6, 7, 8],[9, 10, 11]],
                     index=[["a", "a", "b", "b"], [1, 2, 1, 2]],
                     columns=[["Ohio", "Ohio", "Colorado"], 
                              ["Green", "Red", "Green"]])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [7]:
frame.loc[['a'], ['Colorado', 'Ohio']]

    Colorado  Ohio
       Green Green Red
a 1        2     0   1
  2        5     3   4

In [8]:
#frame.index.names = ['key1', 'key2']

In [9]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [10]:
frame2 = frame.swaplevel(0, 1, axis='columns')

In [11]:
frame2.sort_index(axis='columns')

       Green       Red
    Colorado Ohio Ohio
a 1        2    0    1
  2        5    3    4
b 1        8    6    7
  2       11    9   10

In [12]:
frame2.sort_index(ascending=False)

    Green  Red    Green
     Ohio Ohio Colorado
b 2     9   10       11
  1     6    7        8
a 2     3    4        5
  1     0    1        2

In [13]:
infectados = pd.DataFrame([['ce', 'fortaleza', 10, 1], \
                           ['rj', 'rio de janeiro', 20, 2], \
                           ['df', 'bras칤lia', 30, 3]], \
                          columns=['estado', 'municipio', 
                                   'casos', '칩bitos'])
infectados

  estado       municipio  casos  칩bitos
0     ce       fortaleza     10       1
1     rj  rio de janeiro     20       2
2     df        bras칤lia     30       3

In [14]:
vacinados = pd.DataFrame([['ce', 'fortaleza', 100], \
                          ['rj', 'rio de janeiro', 200], \
                          ['rn', 'natal', 300]], \
                         columns=['estado', 'municipio', 
                                  'habitantes vacinados'])
vacinados

  estado       municipio  habitantes vacinados
0     ce       fortaleza                   100
1     rj  rio de janeiro                   200
2     rn           natal                   300

In [15]:
pd.merge(infectados, vacinados, how='left')

  estado       municipio  casos  칩bitos  habitantes vacinados
0     ce       fortaleza     10       1                 100.0
1     rj  rio de janeiro     20       2                 200.0
2     df        bras칤lia     30       3                   NaN

In [16]:
vacinados = vacinados.set_index(['estado', 'municipio'])

In [17]:
infectados = infectados.set_index(['estado', 'municipio'])

In [18]:
vacinados

                       habitantes vacinados
estado municipio
ce     fortaleza                        100
rj     rio de janeiro                   200
rn     natal                            300

In [19]:
infectados

                       casos  칩bitos
estado municipio
ce     fortaleza          10       1
rj     rio de janeiro     20       2
df     bras칤lia           30       3

In [20]:
vacinados.join(infectados, how='outer')

                       habitantes vacinados  casos  칩bitos
estado municipio
ce     fortaleza                      100.0   10.0     1.0
df     bras칤lia                         NaN   30.0     3.0
rj     rio de janeiro                 200.0   20.0     2.0
rn     natal                          300.0    NaN     NaN

In [21]:
vacinados

                       habitantes vacinados
estado municipio
ce     fortaleza                        100
rj     rio de janeiro                   200
rn     natal                            300

In [22]:
infectados

                       casos  칩bitos
estado municipio
ce     fortaleza          10       1
rj     rio de janeiro     20       2
df     bras칤lia           30       3

In [23]:
pd.concat([vacinados, infectados], axis='columns').sort_index()

                       habitantes vacinados  casos  칩bitos
estado municipio
ce     fortaleza                      100.0   10.0     1.0
df     bras칤lia                         NaN   30.0     3.0
rj     rio de janeiro                 200.0   20.0     2.0
rn     natal                          300.0    NaN     NaN

In [24]:
vacinados.join(infectados, how='outer').sort_index()

                       habitantes vacinados  casos  칩bitos
estado municipio
ce     fortaleza                      100.0   10.0     1.0
df     bras칤lia                         NaN   30.0     3.0
rj     rio de janeiro                 200.0   20.0     2.0
rn     natal                          300.0    NaN     NaN

In [25]:
formato_longo = pd.DataFrame([['ce', 'fortaleza', 'casos', 10.0],
                              ['rj', 'rio de janeiro', '칩bitos', 2.0],
                              ['df', 'bras칤lia', '칩bitos', 3.0],
                              ['rn', 'natal', 
                               'habitantes vacinados', 300.0]],
                             columns=['estado', 'municipio', 
                                      'vari치vel', 'valor'])

In [26]:
formato_longo

  estado       municipio              vari치vel  valor
0     ce       fortaleza                 casos   10.0
1     rj  rio de janeiro                칩bitos    2.0
2     df        bras칤lia                칩bitos    3.0
3     rn           natal  habitantes vacinados  300.0

In [27]:
formato_largo = formato_longo.set_index(['estado', 'municipio', 'vari치vel']).unstack()
formato_largo

                      valor
vari치vel              casos habitantes vacinados 칩bitos
estado municipio
ce     fortaleza       10.0                  NaN    NaN
df     bras칤lia         NaN                  NaN    3.0
rj     rio de janeiro   NaN                  NaN    2.0
rn     natal            NaN                300.0    NaN

In [28]:
#comando "tradicional" de transformar formato largo em formato longo
formato_largo.droplevel(level=0, axis='columns').reset_index().melt(id_vars=['estado', 'municipio'], var_name='vari치vel', value_name='valor').dropna()

   estado       municipio              vari치vel  valor
0      ce       fortaleza                 casos   10.0
7      rn           natal  habitantes vacinados  300.0
9      df        bras칤lia                칩bitos    3.0
10     rj  rio de janeiro                칩bitos    2.0

In [30]:
#equivalente ao comando acima, mas com o truque da Daiana 游뱔
formato_largo.stack()

                                            valor
estado municipio      vari치vel
ce     fortaleza      casos                  10.0
df     bras칤lia       칩bitos                  3.0
rj     rio de janeiro 칩bitos                  2.0
rn     natal          habitantes vacinados  300.0